/*
 * Import
 */
@require "app/styles/charte"


/*
 * Chat
 */
#chat
 	display: flex
 	height: 100vh

  &-hello
    display: flex
    color: $gray
    font-size: 4em
    font-weight: 700
    text-align: center
    margin: auto
